    <!-- Main content-->

        
    <div class="login-container">
                    <p>

                    </p>
                    <form class="login-form"action="http://webapplayers.com/luna_admin-v1.1/index.html" id="loginForm" novalidate>
                        <h2 class="form-title">Sistema Administrativo Bus Tecsup</h2>
                        <div class="form-group">
                                <input type="text" value=""   id="username" name="username" placeholder="example1"  required>
                                <span class="help-block small" >Ingrese su usuario</span>
                            </div>
                            <div class="form-group">

                                <input  for="password" id="password" name="password" required placeholder="********"   name="">
                                <span class="help-block small">Ingrese su contraseña</span>
                            </div>
                            <div class="form-group">
                          
                                <input  for="password"  id="password" name="password" placeholder="********" required name="">
                                <span class="help-block small">Por favor repita su contraseña</span>
                            </div>
                            <div class="form-group">
                              
                                <input type="" value="" id="email"  name="" placeholder="example@tecsup.edu.pe" >
                                <span class="help-block small">Ingrese su correo de contacto</span>
                            </div>
                       
                            
                            <div class="form-group">
                                <input type="submit" routerLink="/"value="Registrar Usuario">
                              </div>
                              <div class="form-group" id="regresar">
                                <input type="submit" routerLink="/"value="Regresar al Login">
                              </div>
                        
                    </form>
                </div>
       
      
    <!-- End main content-->

